#product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
}